@model WebFeriaVirtual.Negocio.Producto
@{
    ViewBag.Title = "Create";
}


<h1>Ingresar nuevo<span> Producto </span></h1>
<section id="portfolio-details" class="portfolio-details">
    <div class="container">
        
        @using (Html.BeginForm())
        {
            @Html.LabelFor(p => p.TipoId, "Tipo producto")
            <br />
            @Html.DropDownListFor(p => p.TipoId, new SelectList(ViewBag.tipos, "Id", "Nombre"))
            <br />
            @Html.LabelFor(p => p.Stock, "Stock en Kg")
            <br />
            @Html.TextBoxFor(p => p.Stock)
            <br />
            @Html.LabelFor(p => p.Precio, "Precio por Kg")
            <br />
            @Html.TextBoxFor(p => p.Precio)
            <br />
            <br />
            <button>Guardar datos</button>
            <br />
            <br />
            <ul>
                <li><input type="button" value="Cancelar" onclick="location.href='@Url.Action("IndexProduct", "Productor")'"></li>
            </ul>
        }

    </div>
</section><!-- End Portfolio Details Section -->

