@using WebFeriaVirtual.Negocio;
@{
    ViewBag.Title = "Index";
}

<h1>Listado de<span> Productos </span></h1>

@{ List<Producto> productos = (List<Producto>)ViewBag.productos;}
@Html.ActionLink("Ingresar Productos", "Create")
<table cellspacing="10" cellpadding="10" border="1">
    <tr>
        <th>Tipo Producto</th>
        <th>Stock</th>
        <th>Precio</th>
        <th>Opciones</th>
    </tr>
    @foreach (var producto in productos)
    {
        <tr>
            <td>@producto.Tipo.Nombre</td>
            <td>@producto.Stock</td>
            <td>@producto.Precio</td>
            <td>
                @Html.ActionLink("Eliminar", "Delete", new { id = producto.Id })
                @Html.ActionLink("Modificar", "Edit", new { id = producto.Id })
            </td>
        </tr>
    }

</table>
@Html.ActionLink("Volver", "IndexProduct", "Productor")
@TempData["Mensaje"]

