@model WebFeriaVirtual.Negocio.Productor
@{
    ViewBag.Title = "Edit";
}

<h2>Modificar datos Usuario Productor</h2>
@Html.ActionLink("Lista de usuarios productor", "ListaProduct")
@using (Html.BeginForm())
{
    @Html.HiddenFor(p => p.Id)
    <br />
    @Html.LabelFor(p => p.Nombre)
    <br />
    @Html.TextBoxFor(p => p.Nombre)
    <br />
    @Html.LabelFor(p => p.Edad)
    <br />
    @Html.TextBoxFor(p => p.Edad)
    <br />
    @Html.LabelFor(p => p.Telefono)
    <br />
    @Html.TextBoxFor(p => p.Telefono)
    <br />
    @Html.LabelFor(p => p.Direccion)
    <br />
    @Html.TextBoxFor(p => p.Direccion)
    <br />
    @Html.LabelFor(p => p.Correo)
    <br />
    @Html.TextBoxFor(p => p.Correo)
    <br />
    @Html.LabelFor(p => p.Contraseña)
    <br />
    @Html.TextBoxFor(p => p.Contraseña)
    <br />
    <br />
    <button>Guardar datos modificados</button>
}