@model WebFeriaVirtual.Negocio.Productor
@{
    ViewBag.Title = "LoginProduct";
}

<h1>Ingresa tus credenciales de <span> Usuario Productor </span></h1>
<h2>
    @using (Html.BeginForm())
    {
        @Html.LabelFor(p => p.Correo, "Correo")
        <br />
        @Html.TextBoxFor(p => p.Correo, new { type = "Correo" })
        <br />
        @Html.LabelFor(p => p.Contraseña, "Contraseña")
        <br />
        @Html.PasswordFor(p => p.Contraseña)
        <br />
        <br />
        <button>Ingresar</button>
    }
</h2>
<br />

@TempData["Mensaje"]