@using WebFeriaVirtual.Negocio;
@{
    ViewBag.Title = "EstadoSubasta";
}

<h1>Estado <span>Subasta</span></h1>

@{ List<VentaExterna> ventas = (List<VentaExterna>)ViewBag.ventas;}
<table cellspacing="10" cellpadding="10" border="1">
    <tr>
        <th>Fecha</th>
        <th>Pais</th>
        <th>Tipo Producto</th>
        <th>Cantidad en Kg</th>
        <th>Precio subasta</th>
        <th>Estado subasta</th>
    </tr>
    @foreach (var ventaExterna in ventas)
    {
        <tr>
            <td>@ventaExterna.Fecha</td>
            <td>@ventaExterna.UsuarioExterno.Pais</td>
            <td>@ventaExterna.Producto.Tipo.Nombre</td>
            <td>@ventaExterna.Solicitud.Cantidad</td>
            <td>@ventaExterna.Precio</td>
            <td>@ventaExterna.Opcion.Nombre</td>
        </tr>
    }

</table>
@Html.ActionLink("Volver", "Index", "Transportista")
@TempData["Mensaje"]
