
@{
    ViewBag.Title = "Index";
}

<h2>Bienvenido Usuario Administrador</h2>
<p>Seleccione una opción:</p>

@Html.ActionLink("Lista de Usuarios", "ListaUsuarios", "Home")
<br />
@Html.ActionLink("Crear Usuarios", "ListaCrearUsuarios", "Home")
<br />
@Html.ActionLink("Lista solicitudes de compra", "Index", "Solicitud")
<br />
@Html.ActionLink("Lista productos", "Index", "Producto")
<br />
@Html.ActionLink("Venta", "TipoVenta", "VentaExterna")