
@{
    ViewBag.Title = "ListaUsuarios";
}

<h2>Seleccione el tipo de usuario que desea visualizar</h2>

@Html.ActionLink("Lista de usuarios Cliente Interno", "ListaUsuInt", "UsuarioInt")
<br />
@Html.ActionLink("Lista de usuarios Cliente Externo", "ListaUsuExt", "UsuarioExt")
<br />
@Html.ActionLink("Lista de usuarios Productor", "ListaProduct", "Productor")
<br />
@Html.ActionLink("Lista de usuarios Transportista", "ListaTrans", "Transportista")
<br />
@Html.ActionLink("Lista de usuarios Consultor", "ListaConsul", "Consultor")