<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebFeriaVirtual</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
 
    @Styles.Render("~/content/css")
</head>
<body>
    @Html.Partial("_Navegacion")
    <section id="hero" class="d-flex align-items-center">
        <div class="container" data-aos="zoom-out" data-aos-delay="100">
            @RenderBody()
        </div>
    </section><!-- End Hero -->

    @Html.Partial("_Footer")
    @Scripts.Render("~/bundles/js")
</body>
</html>
