<header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

        <h1 class="logo"><a>@Html.ActionLink("Web Feria Virtual", "TipoUsuario", "Home")</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt=""></a>-->

        <nav id="navbar" class="navbar">
            <ul>

                @if (User.Identity.IsAuthenticated)
                {
                    <li><a class="nav-link scrollto" href="#about">@Html.ActionLink("Cerrar Sesión", "LogOut", "AdmAuth")</a></li>

                    <li><a class="nav-link scrollto" href="#about">@User.Identity.Name</a></li>

                }
                else
                {
                    @TempData["Mensaje"]
                    <li class="dropdown">
                        <a href="#">Iniciar Sesion <i class="bi bi-chevron-down"></i></a>
                        <ul>
                            <li><a href="#">@Html.ActionLink("Admin", "LoginAdmin", "AdmAuth")</a></li>
                            <li><a href="#">@Html.ActionLink("Cliente", "LoginExt", "UsuarioExt")</a></li>
                            <li><a href="#">@Html.ActionLink("Productor", "LoginProduct", "Productor")</a></li>
                            <li><a href="#">@Html.ActionLink("Transportista", "LoginTransportista", "Transportista")</a></li>
                        </ul>
                    </li>
                }

            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

    </div>
</header><!-- End Header -->